# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
*.env

# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# Output files
aggregated_output.txt


.coverage